/*--------------------------------------------------------*/
/* Blinking Colors
/*--------------------------------------------------------*/

.color-purple {
    animation:purple_blink 5s infinite;
    }
    @keyframes purple_blink{
    0%{     color: #9866ED; }
    20%{    color: #9B67F5; }
    40%{    color: #9873D9; }
    60%{    color: #834CE0; }
    80%{    color: #7739E3; }
    100%{   color: #9866ED; }
}
.color-mint {
    animation:mint_blink 5s infinite;
    }
    @keyframes mint_blink{
    0%{     color: #5BE3AF; }
    20%{    color: #22AB76; }
    40%{    color: #1FC485; }
    60%{    color: #5EB895; }
    80%{    color: #66D9AD; }
    100%{   color: #5BE3AF; }
}
.color-yellow {
    animation:yellow_blink 5s infinite;
    }
    @keyframes yellow_blink{
    0%{     color: #D1B22A; }
    20%{    color: #D9C777; }
    40%{    color: #D1B22A; }
    60%{    color: #CCA806; }
    80%{    color: #E0BE24; }
    100%{   color: #D1B22A; }
}
.color-red {
    animation:red_blink 5s infinite;
    }
    @keyframes red_blink{
    0%{     color: #CF342B; }
    20%{    color: #F2746D; }
    40%{    color: #CF342B; }
    60%{    color: #F7665E; }
    80%{    color: #F2746D; }
    100%{   color: #CF342B; }
}

/*--------------------------------------------------------*/
/* Item specific colors
/*--------------------------------------------------------*/

#youtube:hover {
    color: #FF0000 !important;
}
#netflix:hover{
    color: #E50914 !important;
}
#twitch:hover{
    color: #6441a5 !important;
}
#reddit:hover{
    color: #FF4500 !important;
}
#twitter:hover{
    color: #08a0e9 !important;
}
#arch:hover {
    color: #1793d1 !important;
}
#stackoverflow:hover {
    color: #EF8236 !important;
}