/*--------------------------------------------------------*/
/* General stuff
/*--------------------------------------------------------*/

:root {
    /* Some redefines to improve readability later on */
    --sp-background-light: var(--color8);
    --sp-background: var(--background);
    --sp-background-dark: var(--color0);
    --sp-foreground: var(--foreground);
    --sp-foreground-dimmed: var(--color15);
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'InputSans Nerd Font', monospace;
    background-color: var(--sp-background-light);
    margin: 0;
    padding: 10vh 0;
}

* {
    box-sizing: border-box;
}

/*--------------------------------------------------------*/
/* Favorites and info
/*--------------------------------------------------------*/

.info {
    display: flex;
    flex-direction: column;
    line-height: 0.1;
    text-align: center;
}
@media all and (max-width: 550px) {
    #greeting-name {
        display: none;
    }
}

@media all and (max-width: 350px) {
    #greeting, hr   
    {
        visibility: hidden;
    }
}

.lists {
    display: flex;
    flex-wrap: wrap;
    vertical-align: top;
    justify-content: center; 
}
.lists div {
    background-color: var(--sp-background);
    border-radius: 6px;
    border: solid var(--sp-background-dark) 8px;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    margin: 10px;
    color: var(--sp-foreground);
    width: 275px;
}
.lists div > * {
    display: block;
    padding-left: 25px;
}
.lists p {
    color: inherit;
    font-size: 32px;
    margin: 0px 0px 20px 0px;
    border-bottom: 2px solid;
}
.lists a, .lists a:visited, .lists a:link, .lists a:active {
    color: var(--sp-foreground-dimmed);
    text-decoration: none;
    font-size: 24px;
    text-indent: 15px;
    line-height: 1.5;
}

.lists svg {
    display: none;
    vertical-align: middle;
    text-indent: 0;
    height: 1.2em;
    width: 1.5em;
    fill: currentColor;
}
.lists a:hover svg {
    display: inline-block;
}
.lists a:hover {
    color: var(--sp-foreground) !important
}
#greeting {
    font-size: 30px;
    color: var(--sp-foreground);
}
#time {
    color: var(--sp-foreground-dimmed);
    font-size: 24px;
}

/*--------------------------------------------------------*/
/* Search engine icon, input box and go button
/*--------------------------------------------------------*/

#search_form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 60px;
    width: 750px;
    font-size: 18px;

    background-color: var(--sp-background);
    border-radius: 6px;
    border: solid var(--sp-background-dark) 8px;
}

@media screen and (max-width: 833px) {
    #search_form {
        width: 90vw;
    }
}

#search_form > * {
    background-color: transparent;
    color: var(--sp-foreground);
    text-align: center;
    height: 50px;
    width: 50px;
    vertical-align: top;
    border: none;
    outline: none;
}
#search_input {
    width: 100%;
}
#search_input:focus::placeholder {
    color: transparent;
}
#search_image, #search_go {
    position: absolute;
    top: 0;
}
#search_image {
    left: 0;
    padding: 10px;
    fill: currentColor;
}
#search_go {
    right: 0;
    transition: background-color 0.3s, color 0.3s;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
#search_go:hover {
    background-color: var(--sp-foreground);
    color: var(--sp-background);
}

/*--------------------------------------------------------*/
/* Waves, taken from:
/* https://codepen.io/goodkatz/pen/LYPGxQz
/*--------------------------------------------------------*/

.waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:10vh;
    min-height:100px;
    max-height:150px;
  }

/* Animation */

.waves-inner > use {
    fill: var(--sp-background);
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.waves-inner > use:nth-child(1) {
    opacity: 0.7;
    animation-delay: -2s;
    animation-duration: 7s;
}
.waves-inner > use:nth-child(2) {
    opacity: 0.5;
    animation-delay: -3s;
    animation-duration: 10s;
}
.waves-inner > use:nth-child(3) {
    opacity: 0.3;
    animation-delay: -4s;
    animation-duration: 13s;
}
.waves-inner > use:nth-child(4) {
    opacity: 1;
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
}
